/old/


teach.qmd

/.quarto/

/.DS_Store
.DS_Store 
*.DS_Store
/blogs/

/archive/


/papers/*.aux
/papers/*.gz
/papers/*.xdev
/papers/*.xdv
/papers/*.tex
/papers/*.synctex.gz
/papers/*.synctex.gz(busy)
/papers/*.synctex(busy)
/papers/Alam_MdMoshiUl_CV.synctex.gz
*/*.synctex*
*/*.aux
*/*.log
*/*.gz
*/*.xdev
*/*.xdv
*/*.tex
*/*.out
*/*.toc
*/*.bbl
*/*.blg
*/*.fdb_latexmk
*/*.fls
*/*.snm
*/*.nav
*/*.vrb
*/*.lof
*/*.lot
*/*.synctex.gz(busy)
*/*.synctex(busy)
*.Rproj.user
.Rhistory