/.quarto/
*_cache/
*_files/
/.DS_Store
.DS_Store 
*.DS_Store
/blogs/

/archive/

*.tex
*.synctex.gz(busy)
*.synctex.gz
*.aux

*/*.synctex*
*/*.aux
*/*.log
*/*.gz
*/*.xdev
*/*.xdv
*/*.tex
*/*.out
*/*.toc
*/*.bbl
*/*.blg
*/*.fdb_latexmk
*/*.fls
*/*.snm
*/*.nav
*/*.vrb
*/*.lof
*/*.lot
*/*.synctex.gz(busy)
*/*.synctex(busy)
*.Rproj.user
.Rhistory